{% extends 'base.html.twig' %}

{% block title %}Nouvelle Page{% endblock %}

{% block body %}
    <h1>{{ message }}</h1>
    <p>Bonjour, {{ prenom }} !</p>
    <p>Ceci est une nouvelle page dans Symfony.</p>
{% endblock %}